.event-img:hover .d-img {
  transform: scale(1.1);
}

.main-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: 450px;
  width: 100%;
  margin-bottom: 50px;
}

.editndelete {
  width: 100%;
  text-align: end;
  margin-right: 12.5%;
}

.edit-btn {
  margin-right: 10px;
}

.delete-btn {
  margin-left: 10px;
}
.d-img {
  width: 40%;
}

.article-card {
  width: 88%;
  height: 400px;
  border: 1px solid white;

  box-shadow: 10px 30px 40px -20px gray;
  display: flex;
  margin: 15px 0px 35px 0px;
}

.article-card:hover .event-img {
  transform: scale(1.1);
}

.event-img {
  transition: transform 0.5s;
}

.title-card-event-name {
  padding: 10px;
}

.event-name-h2 {
  color: #02a89e;
  font-weight: 600;
}

.d-img {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.card-detail {
  display: flex;
  flex-direction: column;

  width: 60%;
}

.time-location {
  display: flex;
  height: 38%;
}
.tilte-card-event-p {
  margin-top: 20px;
}

.card-tl {
  border-top: 1px solid rgb(228, 228, 228);
  border-bottom: 1px solid rgb(228, 228, 228);
  width: 50%;
  height: 150px;
  padding: 10px;
}

.card-tl p {
  padding: 0px 10px 0px 10px;
}

.event-detail {
  padding: 10px;
}

.tilte-card-event {
  color: #02a89e;
  font-weight: 600;
}
.card-event-detail {
  padding: 0px 10px 0px 10px;
}

.result-dt {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  height: 40px;
}

.result-d {
  width: 50%;
  padding-left: 10px;
}
.result-t {
  display: flex;
  width: 50%;
  height: 200%;
  padding: 5px 0px 0px 20px !important;
  font-size: 30px;
  border-left: 1px solid rgb(228, 228, 228);
  border-right: 1px solid rgb(228, 228, 228);
}

.date-event-dmy {
  display: flex;
  justify-content: flex-start;
  padding: 0px 10px;
}

.date-event-my {
  display: flex;
  padding: 10px 0px 0px 5px;
  font-size: 20px;
}

.date-event-d {
  font-size: 60px;
  font-weight: 600;
  color: #02a89e;
}

.date-event-my p {
  padding: 0;
  margin: 0;
}

.y-event-dmy {
  margin-left: 5px !important;
}

.hch {
  text-align: start;
}
