.aboutus-main {
  margin: 4% 4% 4% 4%;
}

.aboutus-img {
  display: flex;
  justify-content: center;
  margin: 3% 3%;
}

.aboutus-img img {
  width: 80%;
  height: 80%;

  box-shadow: 10px 30px 40px -20px gray;
}

.aboutus-title {
  padding-top: 20px;
}

.aboutus-h2 {
  color: #02a89e;
  font-weight: 600;
}
